body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("tolist.jpeg");
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

li.completed {
  text-decoration: line-through;
}

.delete {
  cursor: pointer;
}

.delete:hover {
  color: red;
}
